<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hello, thank you for your order with Jungle.com! </h4>
    <p>
      Here is the details of your order:
    </p>
    <hr>        

      <ul>
        <% @line_items.each do |line_item| %>
          <li>
            <p> <strong><%= line_item.product.name %></strong>, Quantity: <%=line_item.quantity.to_i %></p>
          </li>
        <% end %>
      </ul>

    <p> <strong>ORDER TOTAL:</strong>   <%= humanized_money_with_symbol @order.total_cents / 100.0 %></p>
    <p>Hope to see you again and have a great day!</p>
  </body>
</html>