// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'rails_bootstrap_forms';

// App
@import "products";
@import "carts";
@import "about";


// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.no-hover {
  pointer-events: none;

}
